<div class="container mt-5">
  <form *ngIf="!isLoggedIn">
    <div class="mb-3">
      <label class="form-label">Email</label>
      <input type="email" class="form-control" placeholder="Email" #email />
    </div>
    <div class="mb-3">
      <label class="form-label">Password</label>
      <input
        type="password"
        class="form-control"
        placeholder="Password"
        #password
      />
    </div>
    <button
      type="submit"
      class="btn btn-primary"
      (click)="login(email.value, password.value)"
    >
      Login
    </button>
  </form>
  <div *ngIf="isLoggedIn">
    <button type="submit" class="btn btn-danger" (click)="logout()">
      Logout
    </button>
  </div>
  <div class="container mt-3">
    <app-tests-list *ngIf="isLoggedIn"></app-tests-list>
  </div>
</div>
